<br>
<div class="row">
    <h3>Éves tüdőszűrés (18 év felett, nemtől függetlenül)</h3>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Név</th>
                    <th scope="col">Születési dátum</th>
                    <th scope="col">Nem</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of tudoszuro">
                    <td>{{p.nev}}</td>
                    <td>{{p.szuldatum}}</td>
                    <td>{{p.nem}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>

<div class="row">
    <h3>2 éves prosztata vizsgálat (35 év fölötti férfiak)</h3>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Név</th>
                    <th scope="col">Születési dátum</th>
                    <th scope="col">Nem</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of prosztata">
                    <td>{{p.nev}}</td>
                    <td>{{p.szuldatum}}</td>
                    <td>{{p.nem}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<br>

<div class="row">
    <h3>3 évenkénti mammográfia (45 év fölötti nők)</h3>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Név</th>
                    <th scope="col">Születési dátum</th>
                    <th scope="col">Nem</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of mammografia">
                    <td>{{p.nev}}</td>
                    <td>{{p.szuldatum}}</td>
                    <td>{{p.nem}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br>

<div class="row">
    <h3>5 éves általános vizsgálat (mindenkinek)</h3>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Név</th>
                    <th scope="col">Születési dátum</th>
                    <th scope="col">Nem</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of altalanos">
                    <td>{{p.nev}}</td>
                    <td>{{p.szuldatum}}</td>
                    <td>{{p.nem}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>