<div class="container">
    <div class="row search">
        <form [formGroup]="searchForm">
            <label for="taj">TAJ szám kiválasztása</label>
            <div>
                <select class="form-control" class="custom-select" id="taj" (change)="onChange()"
                    formControlName="patient">
                    <option *ngFor="let patient of patients" [ngValue]="patient">{{ patient.taj }} ({{ patient.nev }})
                    </option>
                </select>
            </div>
            <div class="text-danger" *ngIf="f['patient'].invalid">
                <small *ngIf="f['patient'].errors">Páciens kiválasztása kötelező!</small>
            </div>

            <!-- <div class="">
                <input type="text" class="form-control" formControlName="searchQuery"
                    placeholder="Add meg a kívánt TAJ számot!">

                <button class="btn btn-primary" (click)="search()" [disabled]="searchForm.invalid">Keresés</button>
            </div> -->

        </form>
    </div>

    <div *ngIf="patientFound" class="container">
        <hr>
        <div class="row">
            <div>
                <h3>{{selectedPatient?.nev}} kórtörténete</h3>
            </div>
            <div class="col">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Diagnózis</th>
                            <th scope="col">Gyógyszerek</th>
                            <th scope="col">Kezelések</th>
                            <th scope="col">Leletek</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let history of medicalHistories">
                            <td>{{history.id}}</td>
                            <td>{{history.diagnosis}}</td>
                            <td>{{history.medicines}}</td>
                            <td>{{history.treatments}}</td>
                            <td>{{history.medrecords}}</td>
                            <td *ngIf="isAdmin">
                                <button class="btn btn-primary"
                                    (click)="navigateToVisitForm(history.id, false)">Szerkesztés
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="isAdmin">
                <button class="btn btn-success" (click)="navigateToVisitForm(selectedPatient?.id, true)">+ Új
                    kórtörténeti
                    elem
                    hozzáadása a
                    pácienshez</button>
            </div>
        </div>
    </div>