<div class="row">
    <div class="col-md-6" id="containerDiv">
        <form [formGroup]="visitForm">
            <div class="form-group mb-4">
                <label for="diagnosis">Diagnózis</label>
                <input type="text" class="form-control" id="diagnosis" formControlName="diagnosis">
                <div class="text-danger" *ngIf="f['diagnosis'].invalid">
                    <small *ngIf="f['diagnosis'].errors">Diagnózis megadása kötelező!</small>
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="medicines">Gyógyszerek</label>
                <input type="text" class="form-control" id="medicines" formControlName="medicines">
            </div>

            <div class="form-group mb-4">
                <label for="treatments">Kezelések</label>
                <input type="text" class="form-control" id="treatments" formControlName="treatments">
            </div>

            <div class="form-group mb-4">
                <label for="medrecords">Leletek</label>
                <input type="text" class="form-control" id="medrecords" formControlName="medrecords">
            </div>
        </form>

        <button class="btn btn-primary" (click)="addMedicalHistory()" [disabled]="visitForm.invalid">
            Mentés
        </button>
    </div>
</div>